/**
 * 重置mui的样式
 */
*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	background-color: #efeff4;
}
header.mui-bar.mui-bar-nav,
nav.mui-bar.mui-bar-tab,
.yck-self-btn
{
	background-color: #90C873;
}
body nav.mui-bar .mui-tab-item.mui-active{
	background-color:#90C873;
}
nav .mui-tab-item span,
body nav.mui-bar .mui-tab-item.mui-active
{
	color:#FFFFFF;
}
header.mui-bar.mui-bar-nav h1,
header span,
header a,
header a.active
{
	font-size: 16px;
	color: #ffffff;
}
.mui-bar .mui-icon:active{
	opacity: 1;
	color: #50ad1d;
}